.messages-container {

  margin-bottom: 2px;
display: flex;
justify-content: center;
border: 2px solid black;
}


.message-text{
  display:inline-block;
  margin-right: 5px;
  border-radius: 20%;
  padding: 2px;

}
.message-time{
  background-color: #009999;
  margin-left: 5px;
  display:inline-block;
  border-radius: 50%;
  padding: 5px;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  background-image: url('https://farm8.staticflickr.com/7555/16146737148_1a27646aff_b.jpg');
}

.main-container {
  width: 75%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 10px;
}

.main-container h1 {
  text-align: center;
}

.text-box {
  margin: 0px auto;
  width: 40%;
}

p{
  text-align: center;
  margin: 3px 0;
  font-size: 17px;
}
